In [1]:
import sqlite3
concert_singer = "../database/concert_singer.db"

In [3]:
def read_query(db, sql):
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [4]:
read_query(db=concert_singer, sql="SELECT count(*) FROM singer")

(6,)

In [5]:
read_query(db=concert_singer, sql="Select AVG(age), MIN(age), MAX(age) from singer where country = 'France'")

(34.5, 25, 43)

In [7]:
read_query(db=concert_singer, sql="SELECT LOCATION, name FROM stadium WHERE capacity BETWEEN 5000 AND 10000")

In [8]:
read_query(db=concert_singer, sql="SELECT country ,  count(*) FROM singer GROUP BY country")

('France', 4)
('Netherlands', 1)
('United States', 1)

In [9]:
read_query(db=concert_singer, sql="SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1")

('Somerset Park', 11998)

In [10]:
read_query(db=concert_singer, sql="SELECT name ,  country ,  age FROM singer ORDER BY age DESC")

('Joe Sharp', 'Netherlands', 52)
('John Nizinik', 'France', 43)
('Rose White', 'France', 41)
('Timbaland', 'United States', 32)
('Justin Brown', 'France', 29)
('Tribal King', 'France', 25)