In [14]:
import sqlite3
conn = sqlite3.connect("./Chinook.db")
cursor = conn.cursor()

In [10]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

cursor.execute(sql_query)
tables = cursor.fetchall()


print("List of tables:")
for table in tables:
    print(table[0])

List of tables:
Album
Artist
Customer
Employee
Genre
Invoice
InvoiceLine
MediaType
Playlist
PlaylistTrack
Track

In [12]:
sql_query = f"""
    SELECT COUNT(*) 
    FROM Album 
    WHERE ArtistId = (
        SELECT ArtistId 
        FROM Artist 
        WHERE Name = 'Aerosmith' 
    )
"""

cursor.execute(sql_query)
result = cursor.fetchone()
num_albums = result[0]

print(f"Number of albums by Aerosmith: {num_albums}")

Number of albums by Aerosmith: 1

In [18]:
sql_query = "SELECT COUNT(*) FROM Employee"

# Execute the query and fetch the result
cursor.execute(sql_query)
result = cursor.fetchone()
num_employees = result[0]

print(f"Number of employees in the employees table: {num_employees}")

Number of employees in the employees table: 8

In [21]:
sql_query = f"""
    SELECT Track.Name, Album.Title, Artist.Name
    FROM tracks
    INNER JOIN Album ON Track.AlbumId = Album.AlbumId
    INNER JOIN Artist ON Album.ArtistId = Artist.ArtistId
    WHERE Artist.Name = 'Johann Sebastian Bach'
    LIMIT 10
"""

cursor.execute(sql_query)
results = cursor.fetchall()

print("Example tracks by Johann Sebastian Bach:")
for track_name, album_title, artist_name in results:
    print(f"Track: {track_name} | Album: {album_title} | Artist: {artist_name}")

OperationalError: no such table: tracks